*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 1.7rem;
    gap:0.7rem;
}
header nav ul a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
header nav ul a:hover{
    text-decoration: underline;
    color:gold;
}
body{
    background-image: linear-gradient(to right, black, gray);
}
.logo{
    color: white;
}
.cor{
    width: 20px;
    border-radius: 100px;
}
h1{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#p{
    margin-top  : 20px;
    margin-left: 70px;
    margin-bottom: 20px;
}
label{
    color: white;
}
.a1{
    color: white;
    text-decoration: none;
}
.a1:hover:hover{
    text-decoration: underline;
    color:gold;
}